{% macro subscribe(page) %}
    <div class="subscribe">
        <form action="https://gmail.us4.list-manage.com/subscribe/post?u=ac9bbbed8073a9ba3d09ac731&amp;id=9805c9caa6" target="_blank" method="post" accept-charset="utf-8" novalidate>
            <div id="subscribe_title">Stay updated on new tutorials</div>
            <input type="email" name="EMAIL" id="email" placeholder="Email Address" value="">
            <input type="submit" id="submit" value="Subscribe">
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_ac9bbbed8073a9ba3d09ac731_9805c9caa6" tabindex="-1" value="">
            </div>
            <ul class="subscribe_notes">
                <li>* I will never share your email address.</li>
                <li>* You can expect to get an email from me few times in a month at most.</li>
                <li>* No SPAM!</li>
            </ul>
        </form>
    </div>
{% endmacro subscribe %}

{% macro disqus(page) %}
    <div class="disqus_dialog">
        <div>
            <img src="/images/github.png" alt="github logo"/>
            The comment system is powered by GitHub.<br />
            You can comment directly below, but you would need to authorise the <a href="https://github.com/utterance" target="_blank">Utterance's</a> app to post issues to GitHub on your behalf.<br />
            <!--<br />-->
            <!--Or if you prefer, you can <a href="https://github.com/fogine/blog/issues" target="_blank">comment directly on GitHub</a>-->
        </div>
    </div>
    <div class="disqus">
        <script src="https://utteranc.es/client.js"
                repo="fogine/blog"
                issue-term="pathname"
                label="Comment"
                theme="github-dark-orange"
                crossorigin="anonymous"
                async>
        </script>
    </div>
{% endmacro disqus %}

{% macro table_of_contents() %}
    {%- if page.extra.render_toc and page.toc %}
        <h2 >Contents:</h2>
        <ul>
            {% for h1 in page.toc %}
            <li>
                <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
                <!--{% if h1.children %}-->
                <!--<ul>-->
                    <!--{% for h2 in h1.children %}-->
                    <!--<li>-->
                        <!--<a href="{{h2.permalink | safe}}">{{ h2.title }}</a>-->
                    <!--</li>-->
                    <!--{% endfor %}-->
                <!--</ul>-->
                <!--{% endif %}-->
            </li>
            {% endfor %}
        </ul>
    {%- endif %}
{% endmacro table_of_contents %}

{% macro content(page, summary) %}
    {%- if summary and page.summary %}
        <div class="post-content">
            {{ page.summary | safe }}
        </div>
        <div>
            <!-- &#xFE0E; -- force text style - some devices render this as emoji -->
            <a class="read-more button" href="{{ page.permalink | safe }}">
                <span class="button__text">Read more</span>&nbsp;
                <span class="button__icon">&#8617;&#xFE0E;</span>
            </a>
        </div>
    {% else %}
        <div class="post-content">
            {{ page.content | safe }}
        </div>
    {%- endif %}
{% endmacro content %}


{% macro date(page) %}
    <span class="post-date">
        {%- if page.date %}
            {{ page.date | date(format="%Y-%m-%d") }}
        {% endif -%}
    </span>
{% endmacro post_date %}


{% macro earlier_later(page) %}
    {%- if config.extra.enable_post_view_navigation and page.earlier or page.later %}
        <div class="pagination">
            <div class="pagination__title">
                <span class="pagination__title-h">{{ config.extra.post_view_navigation_prompt }}</span>
                <hr />
            </div>
            <div class="pagination__buttons">
                {%- if page.later %}
                    <span class="button previous">
                        <a href="{{ page.later.permalink | safe }}">
                            <span class="button__icon">←</span>&nbsp;
                            <span class="button__text">{{ page.later.title }}</span>
                        </a>
                    </span>
                {% endif %}
                {% if page.earlier %}
                    <span class="button next">
                        <a href="{{ page.earlier.permalink | safe }}">
                            <span class="button__text">{{ page.earlier.title }}</span>&nbsp;
                            <span class="button__icon">→</span>
                        </a>
                    </span>
                {% endif -%}
            </div>
        </div>
    {% endif -%}
{% endmacro earlier_later %}

{% macro head(page) %}
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@david_lasek">
    <meta property="twitter:image" content="https://fogine.dev/apple-touch-icon.png">
    <meta property="twitter:title" content="{{ page.title }}">
    <meta property="twitter:description" content="{{ page.summary }}">

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.summary }}">
    <meta property="og:image" content="https://fogine.dev/apple-touch-icon.png">
    <meta property="og:url" content="{{ page.permalink }}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en-us">
    <meta property="og:site_name" content="{{ config.title }}">
{% endmacro head %}

{% macro header(page) %}
    <h1 class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
    <div class="post-meta-inline">
        {{ post_macros::date(page=page) }}
    </div>

    {{ post_macros::tags(page=page) }}
    {{ post_macros::table_of_contents() }}
{% endmacro header %}


{% macro list_posts(pages) %}
    <ul>
    {%- for page in pages %}
        {%- if page.draft %}
            {% continue %}
        {% endif -%}
        <li class="post-list">
            <a href="{{ page.permalink | safe }}">
                <span class="post-date">{{ page.date }}</span>
                :: <span class="post-list-title">{{ page.title }}</span></a>
            {{ post_macros::tags(page=page, short=true) }}
        </li>
    {% endfor -%}
    </ul>
{% endmacro list_posts %}


{% macro tags(page, short=false) %}
    {%- if page.taxonomies and page.taxonomies.tags %}
        <span class="post-tags-inline">
            {%- if short %}
                ::
                {%- set sep = "," -%}
            {% else %}
                :: tags:&nbsp;
                {%- set sep = "&nbsp;" -%}
            {% endif -%}
            {%- for tag in page.taxonomies.tags %}
                <a class="post-tag" href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">#{{ tag }}</a>
                {%- if not loop.last %}{{ sep | safe }}{% endif -%}
            {% endfor -%}
        </span>
    {% endif -%}
{% endmacro tags %}
